.pass, .user, .ConfirmPass {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1.3 0;
    -fx-prompt-text-fill: #A9A9A9;
    -fx-text-fill: black;
}

.TodoPage {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 10;
}

.SginUpBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #518AFF;
    -fx-border-color: transparent;
}

.pass:focused, .user:focused {
    -fx-border-color: #518AFF;
}

.LoginBtn, .saveBtn {
    -fx-background-color: #518AFF;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 3);
}

.saveBtn {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.LoginBtn:hover {
    -fx-translate-y: -2;
}

.MainPane {
    -fx-background-color: linear-gradient(to bottom left, #518AFF, #518AFF);
}