.pass, .user, .ConfirmPass {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: #A9A9A9;
    -fx-text-fill: black;
}

.SginUpBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #18C27B;
    -fx-border-color: transparent;
}

.pass:focused, .user:focused {
    -fx-border-color: #18C27B;
}

.LoginBtn {
    -fx-background-color: #18C27B;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 3);
}

.LoginBtn:hover {
    -fx-translate-y: -2;
}

.MainPane {
    -fx-background-color: linear-gradient(to bottom left, #71D9B6, #18C27B);
}