.pass, .userName, .ConfirmPass {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1.3 0;
    -fx-prompt-text-fill: #A9A9A9;
    -fx-text-fill: black;
}

.thumb {-fx-padding: 20px}

.root {
    -fx-background-color: #FCFCFC;
    -fx-background-radius: 10;
}

.TodoPage {
    -fx-background-color: #FCFCFC;
    -fx-background-radius: 15;
}

.user {
    -fx-text-fill: black;
    -fx-font-size: 15px;
    -fx-font-family: "Segoe UI";
    -fx-border-color: black;
    -fx-border-radius: 30;
    -fx-padding: 5px;
}

.SginUpBtn {
    -fx-background-color: transparent;
    -fx-text-fill: #518AFF;
    -fx-border-color: transparent;
}

.pass:focused, .userName:focused {
    -fx-border-color: #518AFF;
}

.LoginBtn, .saveBtn {
    -fx-background-color: #518AFF;
    -fx-text-fill: white;
    -fx-background-radius: 30;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 10, 0, 0, 3);
}

.saveBtn {
    -fx-font-size: 17px;
    -fx-font-weight: bold;
}

.LoginBtn:hover {
    -fx-translate-y: -2;
}

.MainPane {
    -fx-background-color: linear-gradient(to bottom left, #518AFF, #28B8FF);
    -fx-background-radius: 10 0 0 10;
}

.unchecked, .checked {
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 10;
}

.checked {
    -fx-border-color: transparent;
    -fx-border-radius: 10px;
    -fx-padding: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
    -fx-background-radius: 10;
}

.unchecked {-fx-background-color: #ffffff;}
.checked {-fx-background-color: #C2C2C2;}